<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li style="color: limegreen; text-decoration: line-through">
          Create three new components: GameControl, Odd and Even
        </li>
        <li style="color: limegreen; text-decoration: line-through">
          The GameControl Component should have buttons to start and stop the
          game
        </li>
        <li style="color: limegreen; text-decoration: line-through">
          When starting the game, an event (holding a incrementing number)
          should get emitted each second (ref = setInterval())
        </li>
        <li style="color: limegreen; text-decoration: line-through">
          The event should be listenable from outside the component
        </li>
        <li style="color: limegreen; text-decoration: line-through">
          When stopping the game, no more events should get emitted
          (clearInterval(ref))
        </li>
        <li style="color: limegreen; text-decoration: line-through">
          A new Odd component should get created for every odd number emitted,
          the same should happen for the Even Component (on even numbers)
        </li>
        <li style="color: limegreen; text-decoration: line-through">
          Simply output Odd - NUMBER or Even - NUMBER in the two components
        </li>
        <li style="color: limegreen; text-decoration: line-through">
          Style the element (e.g. paragraph) holding your output text
          differently in both components
        </li>
      </ol>
    </div>
  </div>
</div>
<hr />
<app-game-control
  (intervalFired)="onNumberChanged($event)"
  (intervalStopped)="onIntervalStopped()"
></app-game-control>
<div class="container">
  <div class="row">
    <div *ngFor="let number of numbers">
      <app-odd *ngIf="number % 2 !== 0" [num]="number"></app-odd>
      <app-even *ngIf="number % 2 === 0" [num]="number"></app-even>
    </div>
  </div>
</div>
