.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  margin: 8px auto 8px auto;
  width: max-content;
  min-width: 160px;
  font-weight: bold;
}

.warning {
  border: 2px solid red;
  background-color: rgb(255, 116, 116);
  color: black;
}

.message {
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
}
