<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li class="completed">
          Create two new Components (manually or with CLI): WarningAlert and
          SuccessAlert
        </li>
        <li class="completed">
          Output them beneath each other in the AppComponent
        </li>
        <li class="completed">
          Output a warning or success message in the Components
        </li>
        <li class="completed">
          Style the Components appropriately (maybe some red/ green text?)
        </li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>
        Feel free to create more components, nest them into each other or play
        around with different types of selectors!
      </p>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert>
  </div>
</div>
