<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li class="completed">Add A button which says 'Display Details'</li>
        <li class="completed">
          Add a paragraph with any content of your choice (e.g. 'Secret Password
          = tuna')
        </li>
        <li class="completed">
          Toggle the displaying of that paragraph with the button created in the
          first step
        </li>
        <li class="completed">
          Log all button clicks in an array and output that array below the
          secret paragraph (maybe log a timestamp or simply an incrementing
          number)
        </li>
        <li class="completed">
          Starting at the 5th log item, give all future log items a blue
          background (via ngStyle) and white color (ngClass)
        </li>
      </ol>
    </div>
  </div>
</div>
<hr />
<button class="details-button" (click)="togglePasswordVisibility()">
  Display details
</button>
<p class="secret-password" *ngIf="isPasswordVisible; else passwordNotVisible">
  Secret Password = tuna
</p>
<ng-template #passwordNotVisible>
  <p class="secret-password-hidden">Secret password is hidden.</p>
</ng-template>
<p
  *ngFor="let log of logs; index as i"
  [ngClass]="{ log: i >= 5 }"
  [ngStyle]="{ backgroundColor: i >= 5 ? 'rgb(0, 0, 160)' : '' }"
>
  {{ log }}
</p>
