<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li style="color: green">
          Create three new components: GameControl, Odd and Even
        </li>
        <li style="color: green">
          The GameControl Component should have buttons to start and stop the
          game
        </li>
        <li style="color: green">
          When starting the game, an event (holding a incrementing number)
          should get emitted each second (ref = setInterval())
        </li>
        <li style="color: green">
          The event should be listenable from outside the component
        </li>
        <li style="color: green">
          When stopping the game, no more events should get emitted
          (clearInterval(ref))
        </li>
        <li style="color: green">
          A new Odd component should get created for every odd number emitted,
          the same should happen for the Even Component (on even numbers)
        </li>
        <li style="color: green">
          Simply output Odd - NUMBER or Even - NUMBER in the two components
        </li>
        <li style="color: green">
          Style the element (e.g. paragraph) holding your output text
          differently in both components
        </li>
      </ol>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <app-game-control
      (gameIntervalFired)="onIntervalFired($event)"
    ></app-game-control>
  </div>
</div>
<div class="container">
  <div class="col-xs-12">
    <div class="col-xs-5">
      <app-odd
        *ngFor="let oddNumber of oddNumbers"
        [number]="oddNumber"
      ></app-odd>
    </div>
    <div class="col-xs-5">
      <app-even
        *ngFor="let evenNumber of evenNumbers"
        [number]="evenNumber"
      ></app-even>
    </div>
  </div>
</div>
